<div class="background">
    <div class="container">
    <br>
    <br>
        <h1>E-learning</h1>
        <p>Welcome to my E-learning System :)</p>
        <p> Let's study English and Go place where you want to!!</p>
    </div>
    <div class="Login-button">
        <a href="signup" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Let's stuby with us!!</a>
    </div>
</div>