<div class="container3">
    <h1>Word1</h1>
    <br>
    <a class="btn btn-primary" href="#" role="button">Choice1</a>
    <br>
    <br>
    <a class="btn btn-primary" href="#" role="button">Choice2</a>
    <br>
    <br>
    <a class="btn btn-primary" href="#" role="button">Choice3</a>
</div>
