<% provide(:title, 'Edit title') %>
<% provide(:title, 'Edit description') %>
<% provide(:button_text, 'Save changes') %>
<div class="row-edit">
    <div class="col-md-6 offset-md-3">
        <h1>Edit Category</h1>
        <%= render 'form' %>
    </div>
</div>