<div class="col-md-6 offset-md-3">
  <div class="container1">
    <h1>Administer Categories</h1>
    <p>You can create new category here!</p>
    <br>
  </div>
      <div class="btn">
      <%= link_to "New Category", new_admin_category_path, class: "btn btn-primary" %>
      </div>
</div>