<h1>New Category</h1>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
    <br>
    <%= f.label :description %>
    <%= f.password_field :description, class: "form-control" %>