<div class="container">    
    <h1>Categories</h1>
    <br>
    <div class="row">
        <% @categories.each do |category| %>
            <div class="col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= category.title %></h5>
                        <p class="card-text"><%= category.description %></p>
                        <%# <a href="answers_new" class="btn btn-primary">Start Answer</a> %>
                        <%= button_to "Start Answer", lessons_path(category_id: category.id), class: "btn btn-primary" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="pagination">
        <%= will_paginate %>
    </div>
</div> 