<div class="footer">
    <p>All right reserved</p>
    <p>©Shintaro</p>
    <div class="icon">
    <i class="fab fa-twitter"></i>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram"></i>
    </div>
</div>
